<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Threejs demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>
